:root {
    --bgGray: #818589;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .navbar {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 10px 40px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-logo {
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    color: black;
  }
  .navbar-logo h1 {
    font-size: 36px;
    font-weight: 300;
  }
  
  .navbar-menu {
    font-size: 36px;
    font-weight: 300;
    color: black;
  }
  
  .contact {
    min-height: 100vh;
    background-color: var(--bgGray);
    padding: 100px 40px;
  }
  .contact .btn_back {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .contact .btn_back img {
    fill: white;
    height: 40px;
    width: 40px;
  }
  .contact .btn_back a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 24px;
    justify-content: end;
    cursor: pointer;
  }
  .contact-list {
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-size: 36px;
    font-weight: 500;
  }
  .contact-sosial {
    margin-top: 20px;
  }
  .contact-sosial h2 {
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address-item {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    width: 70%;
  }